%%[[if !edit]]%%
/* Preview and publish styling */
%[if %("%id=trigger_type%"=="documentReady")%]%
	/* Start hidden */
	#animateItWrapper%id% {
		opacity: 0;
	}

	%[if %("%id=apply_to%"=="custom")%]%
	%id=selector_name% {
		opacity: 0;
	}
	%[endif]%
%[endif]%

#animateItWrapper%id%.animated {
	animation-duration: %id=animation_speed%ms;
	animation-delay: %id=animation_delay%ms;
}

%[if %("%id=apply_to%"=="custom")%]%
%id=selector_name% {
	animation-duration: %id=animation_speed%ms;
	animation-delay: %id=animation_delay%ms;
}
%[endif]%
%%[[endif]]%%

%%[[if edit]]%%
/* Edit mode styling */
#animateItWrapper%id% {
	opacity: 1;
	animation: none;
}

%[if %("%id=apply_to%"=="custom")%]%
%id=selector_name% {
	opacity: 1.0;
	animation: none;
}
%[endif]%
%%[[endif]]%%
